<header id="header">
  <div id="header-outer" class="outer">
    <div id="header-menu">
      <nav id="main-nav">
        <ul>
          <li id="logo-wrap">
            <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
          </li>
        <% for (var i in theme.menu){ %>
          <li><a href="<%- url_for(theme.menu[i]) %>"><i class="fa <%= theme.menu_icon[i] %> icon-setting"></i></a></li>
        <% } %>
        <% if (theme.rss){ %>
          <li><a href="<%- theme.rss %>"><i class="fa fa-rss %> icon-setting"></i></a></li>
        <% } %>
        </ul>
      </nav>
    </div>
  </div>
</header>
